<button type="button" id="record">Record Audio Until Return Result</button>
<button type="button" id="play">play recorded audio</button>
<p id="notrecording"></p>
<p id="recording" style="display: none;">"Recording... Stop Recording to change any settings</p>
